<div *ngIf="loading"><mat-spinner></mat-spinner></div>
<div *ngIf="!loading && video">
  <h2>{{ video.snippet.title }}</h2>
  <p>{{ video.snippet.description }}</p>
  <button mat-raised-button color="primary" (click)="openCommentDialog()">Add Comment</button>

  <h3>Comments</h3>
  <div *ngFor="let comment of video.commentThreads?.items">
    <p>{{ comment.snippet.topLevelComment.snippet.textOriginal }}</p>
    <button mat-button (click)="openCommentDialog(comment.id)">Reply</button>
  </div>
</div>
